@import "../bower_components/reveal.js/css/theme/template/mixins";
@import "../bower_components/reveal.js/css/theme/template/settings";

$mainColor: #333;
$headingColor: #c41200;
$backgroundColor: #fff;
$headingTextShadow: none;
$selectionBackgroundColor: #c41200;
$linkColor: #c41200;
$linkColorHover: #c41200;
$headingLineHeight: 1em;

@import "../bower_components/reveal.js/css/theme/template/theme";

.reveal pre {
  box-shadow: none;
  border: 1px solid #ccccc8;
  border-radius: 4px;
  background-color: #f5f5f1;
}

.reveal:after {
  background: url(footer_big.png) no-repeat;
  height: 420px;
  width: 1280px;
}

pre code {
  background-color: #f5f5f1;
}

.reveal .controls {
  left: 10px;
  right: auto;
}

.reveal li {
  padding-bottom: 0.5em;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal section ul ol {
  padding-left: 1em;
}